report/report/*.toc
report/report/*.log
report/report/*.out
report/report/*.eps
report/report/*.synctex.gz
report/report/*.sty
report/report/*.tex
report/report/*.aux
report/report/Sample.log
report/report/Sample.synctex.gz